* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}
p {
  line-height: 1.9rem;
}

a {
  text-decoration: none;
  color: black;
  opacity: 0.8;
}

.nav-bar ul li:first-child a {
  opacity: 1;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

span {
  color: white;
}

body {
  min-height: 100vh;
  background-color: #e7e7e7;
}

header {
  width: 70%;
  margin: 0 auto;
}

main {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-auto-rows: 600px 800px;
}

footer {
  width: 70%;
  margin: 0 auto;
}

.card {
  background-color: white;
}

.card img {
  height: 150px;
}

.join-now {
  font-weight: 700;
  width: 150px;
  height: 50px;
  border-radius: 30px;
  background-color: #fff;
}

.family-img {
  height: 300px;
  width: 300px;
}

.header-information {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.heading-main {
  background-color: #c7ddea;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 5rem 1rem 0 7rem;
}

.heading-main img {
  align-self: flex-end;
  position: relative;
}

.heading-main p {
  margin-top: 0.4rem;
  margin-right: 5rem;
}

.heading-main h1 {
  font-size: 3rem;
}

.heading-main button {
  position: relative;
  top: 80px;
  left: 20px;
}

.heading-sidebar-learn-more {
  background-color: #f17949;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading-sidebar-learn-more h2 {
  font-size: 2.5rem;
  color: #fff;
}

.heading-sidebar-join-today {
  background-color: #fab131;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading-sidebar-join-today h2 {
  font-size: 2.5rem;
  color: #fff;
}

.header-information .heading-main {
  grid-row: 1/3;
}

.header-information .heading-sidebar-learn-more {
  grid-row: 1/2;
  grid-column: 2 /3;
}
.header-information .heading-sidebar-join-today {
  grid-row: 2/3;
  grid-column: 2 /3;
}

.nav-bar {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.nav-links {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.upper-section {
  background-color: #a9a19e;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 600px;
}

.upper-section .left-side {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5rem 5rem 0 7rem;
}

.upper-section .right-side {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem 8rem 0 3rem;
}

.left-side h1 {
  color: white;
  font-size: 2.5rem;
}

.left-side button {
  margin-top: 3rem;
}

.bottom-section {
  height: 800px;
  background-color: #fab131;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.card {
  margin: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;

  position: relative;
  top: -50%;
}

.card .person {
  background-color: #c7ddea;
  width: 95%;
  margin: 0 auto;
  padding: 1rem 0 0 0;
  position: relative;
  top: -20px;
  border-radius: 5px;
}

.bottom-information {
  text-align: center;
  grid-column: 1 /4;
  padding: 1rem 19rem;
  margin-bottom: 25rem;
  position: relative;
  top: -100px;
}

.bottom-information h1 {
  color: white;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.bottom-information p {
  line-height: 1.3rem;
  margin-bottom: 1rem;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.box {
  min-height: 354.48px;
  max-height: 354.48px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 1rem;
}

.box h2 {
  font-size: 2rem;
  opacity: 0.5;
}

.box p {
  padding: 2rem;
}

.how-it-works {
  background-color: #c7ddea;
  text-align: center;
}

.how-it-works h1 {
  grid-row: 2;
  align-self: center;
}

.O1 {
  background-color: white;
}

.O1 p {
  grid-row: 2;
  align-self: center;
  text-align: center;
}

.O2 {
  background-color: #e7e7e7;
}

.O2 p {
  grid-row: 2;
  align-self: center;
  text-align: center;
  margin: 0 4rem;
}

.O3 {
  background-color: #fff;
}

.O3 p {
  grid-row: 2;
  align-self: center;
  text-align: center;
}

.O4 {
  background-color: #f17949;
}

.O4 p {
  grid-row: 2;
  align-self: center;
  text-align: center;
}

.O5 {
  background-color: #fff;
}

.O5 p {
  grid-row: 2;
  align-self: center;
  text-align: center;
}

.take-me-up-section {
  grid-row: 3/4;
  grid-column: 1/4;
  background-color: #a9a19e;
}

.take-me-up {
  text-align: center;
  width: 100%;
  background-color: lightgray;
}

.take-me-up p {
  padding: 1rem;
  padding-top: 0;
}

.take-me-up i {
  position: relative;
  top: 15px;
}

.take-me-up a {
  text-decoration: none;
  color: black;
}
